html,
body {
  height: 100%;
}

html {
  background-color: var(--color-back);
  color: var(--color-prim);
}

// LINKS

a {
  color: var(--color-prim);
  text-decoration: none;
}

// IMG

img {
  max-width: 100%;
  display: block;
}
