html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

// TEXT UTILS

.text--bold { font-style: bold; }
.text--uppercase { text-transform: uppercase; }
.text--smallprint { font-size: 0.8rem; }

.text--center { text-align: center; }
.text--left { text-align: left; }
.text--right { text-align: right; }


// HEADINGS

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1;
}

strong {
  font-weight: bold;
}
