html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

// HEADINGS

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1;
}

strong {
  font-weight: bold;
}
